In [1]:
# getting all the required imports
import pandas as pd
import warnings
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import scale,LabelEncoder
from sklearn.metrics import accuracy_score,make_scorer
import xgboost as xgb

In [55]:
# Reading the training data
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [56]:
# Reading the testing data
dfTest = pd.read_csv('test.csv')
dfTest.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [57]:
print("Shape of train data is {} and shape of test data is {}".format(df.shape,dfTest.shape))

Shape of train data is (891, 12) and shape of test data is (418, 11)

In [58]:
print("In train data there are {} empty values and in test data we have {} empty values".format(df.isnull().sum().sum(),dfTest.isnull().sum().sum()))

In train data there are 866 empty values and in test data we have 414 empty values

In [60]:
print(df.info())
print(dfTest.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [61]:
# Finding for ? in train data
print(df.Name.str.contains('\?').sum())
print(df.Sex.str.contains('\?').sum())
print(df.Ticket.str.contains('\?').sum())
print(df.Cabin.str.contains('\?').sum())
print(df.Embarked.str.contains('\?').sum())

# Finding for ? in test data
print(dfTest.Name.str.contains('\?').sum())
print(dfTest.Sex.str.contains('\?').sum())
print(dfTest.Ticket.str.contains('\?').sum())
print(dfTest.Cabin.str.contains('\?').sum())
print(dfTest.Embarked.str.contains('\?').sum())

0
0
0
0
0
0
0
0
0
0

In [62]:
# Dropping the duplicates
df.drop_duplicates(inplace=True)
dfTest.drop_duplicates(inplace=True)

In [63]:
print(df.PassengerId.isnull().sum())
print(dfTest.PassengerId.isnull().sum())

0
0

In [65]:
print(df.Survived.isnull().sum())
#print(dfTest.Survived.isnull().sum()) --> Target value so will be absent in test data

0

In [66]:
print(df.Pclass.isnull().sum())
print(dfTest.Pclass.isnull().sum())

0
0

In [67]:
print(df.Name.isnull().sum())
print(dfTest.Name.isnull().sum())

0
0

In [68]:
print(df.Sex.isnull().sum())
print(dfTest.Sex.isnull().sum())

0
0

In [71]:
print(df.Age.isnull().sum())
print(dfTest.Age.isnull().sum())

0
0

In [70]:
df.Age.fillna(np.asarray(df.Age.dropna(), dtype=np.float).mean(),inplace=True)
dfTest.Age.fillna(np.asarray(dfTest.Age.dropna(), dtype=np.float).mean(),inplace=True)

In [72]:
# all nan are replaced
print(df.Age.isnull().sum())
print(dfTest.Age.isnull().sum())

0
0

In [73]:
print(df.SibSp.isnull().sum())
print(dfTest.SibSp.isnull().sum())

0
0

In [74]:
print(df.Parch.isnull().sum())
print(dfTest.Parch.isnull().sum())

0
0

In [75]:
print(df.Ticket.isnull().sum())
print(dfTest.Ticket.isnull().sum())

0
0

In [76]:
print(df.Fare.isnull().sum())
print(dfTest.Fare.isnull().sum())

0
1

In [77]:
dfTest.Fare.fillna(np.asarray(dfTest.Fare.dropna(), dtype=np.float).mean(),inplace=True)

In [78]:
print(df.Fare.isnull().sum())
print(dfTest.Fare.isnull().sum())

0
0

In [20]:
df.Cabin.isnull().sum()

687

In [21]:
#df.dropna(inplace=True)

In [79]:
print(df.Embarked.isnull().sum())
print(dfTest.Embarked.isnull().sum())

2
0

In [80]:
print(df.Embarked.value_counts())
print(dfTest.Embarked.value_counts())

S    644
C    168
Q     77
Name: Embarked, dtype: int64
S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [83]:
df.Embarked.replace(np.nan,'S',inplace=True)
#dfTest.Embarked.replace(np.nan,'S',inplace=True) --> Not required

In [84]:
print(df.isnull().sum().sum())
print(dfTest.isnull().sum().sum())

687
327

In [86]:
print(df.Cabin.isnull().sum())
print(dfTest.Cabin.isnull().sum())

687
327

In [88]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [106]:
encName = LabelEncoder()
encName.fit(df.Name.append(dfTest.Name).astype(str))
dfTest.Name = encName.transform(dfTest.Name.astype(str))
df.Name = encName.transform(df.Name.astype(str))

In [107]:
encSex = LabelEncoder()
encSex.fit(df.Sex.astype(str))
dfTest.Sex = encSex.transform(dfTest.Sex.astype(str))
df.Sex = encSex.transform(df.Sex.astype(str))

In [109]:
encTicket = LabelEncoder()
encTicket.fit(df.Ticket.append(dfTest.Ticket).astype(str))
dfTest.Ticket = encTicket.transform(dfTest.Ticket.astype(str))
df.Ticket = encTicket.transform(df.Ticket.astype(str))

In [110]:
encEmbarked = LabelEncoder()
encEmbarked.fit(df.Embarked.dropna().astype(str))
dfTest.Embarked = encEmbarked.transform(dfTest.Embarked.astype(str))
df.Embarked = encEmbarked.transform(df.Embarked.astype(str))

In [29]:
# TypeError: '<' not supported between instances of 'str' and 'float' --> It means that there is a missing value in the dataset
#enc = LabelEncoder()
#df.Name = enc.fit_transform(df.Name)
#df.Sex = enc.fit_transform(df.Sex)
#df.Cabin = enc.fit_transform(df.Cabin.dropna())
#df.Ticket = enc.fit_transform(df.Ticket)
#df.Embarked = enc.fit_transform(df.Embarked.dropna())

In [30]:
#enc.classes_

array(['C', 'Q', 'S'], dtype=object)

In [111]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,42,1,22.0,1,0,720,7.2500,NaN,2
1,2,1,1,42,0,38.0,1,0,816,71.2833,C85,0
2,3,1,3,42,0,26.0,0,0,914,7.9250,NaN,2
3,4,1,1,42,0,35.0,1,0,65,53.1000,C123,2
4,5,0,3,42,1,35.0,0,0,649,8.0500,NaN,2

In [112]:
dfTest.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,25,1,34.5,0,0,376,7.8292,NaN,1
1,893,3,269,0,47.0,1,0,582,7.0000,NaN,2
2,894,2,103,1,62.0,0,0,184,9.6875,NaN,1
3,895,3,274,1,27.0,0,0,366,8.6625,NaN,2
4,896,3,406,0,22.0,1,1,338,12.2875,NaN,2

In [113]:
print(df.columns)
print(dfTest.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [114]:
df = df.join(pd.get_dummies(df["Embarked"],prefix="Embarked"))
dfTest = dfTest.join(pd.get_dummies(dfTest["Embarked"],prefix="Embarked"))
print(df.columns)
print(dfTest.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Embarked_0',
       'Embarked_1', 'Embarked_2'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Embarked_0', 'Embarked_1',
       'Embarked_2'],
      dtype='object')

In [179]:
X = df.loc[:,['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked_0',
       'Embarked_1', 'Embarked_2']]
test_input = dfTest.loc[:,['PassengerId', 'Pclass',  'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked_0',
       'Embarked_1', 'Embarked_2']]
X.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked_0,Embarked_1,Embarked_2
0,1,3,1,22.0,1,0,720,7.2500,0,0,1
1,2,1,0,38.0,1,0,816,71.2833,1,0,0
2,3,3,0,26.0,0,0,914,7.9250,0,0,1
3,4,1,0,35.0,1,0,65,53.1000,0,0,1
4,5,3,1,35.0,0,0,649,8.0500,0,0,1

In [180]:
y = df.loc[:,['Survived']]
y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [181]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=10)

In [182]:
clf = RandomForestClassifier(random_state=4)
model = clf.fit(X_train,y_train)
model

C:\Softwares\Anaconda3-5.1.0-Windows-x86_64\Installation\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=4, verbose=0, warm_start=False)

In [183]:
y_predict = model.predict(X_test)

In [184]:
accuracy_score(y_test,y_predict)

0.8340807174887892

In [217]:
clf = xgb.XGBClassifier()
print(clf)
model = clf.fit(X_train,y_train)
y_predict = model.predict(X_test)
accuracy_score(y_test,y_predict)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

0.8430493273542601

In [ ]:
warnings.filterwarnings('ignore')
parameters = {
    'bootstrap': [True,False],
    'class_weight': [None],
    'criterion': ['gini','entropy'],
    'max_depth': [None,2, 3, 5, 10],
    'max_features':['auto','log2', 'sqrt',3],
    'max_leaf_nodes' : [None],
    'min_impurity_decrease' : [0.0],
    'min_impurity_split' : [None],
    'min_samples_leaf' : [8,5,1],
    'min_samples_split' : [3,2,5],
    'min_weight_fraction_leaf':[0.0],
    'n_jobs':[-1],
    'oob_score':[False],
    'random_state':[None,4],
    'verbose':[0],
    'warm_start':[False],
    'n_estimators': [9,4,6,10],}

acc_scorer = make_scorer(accuracy_score)
clf = RandomForestClassifier()
grid_obj = GridSearchCV(clf, parameters, scoring=acc_scorer,verbose=1)
grid_obj = grid_obj.fit(X_train, y_train)
clf = grid_obj.best_estimator_
print(clf)
clf.fit(X_train, y_train)

predictions = clf.predict(X_test)
print(accuracy_score(y_test, predictions))

Fitting 3 folds for each of 5760 candidates, totalling 17280 fits

In [215]:
clf = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=9, n_jobs=-1,
            oob_score=False, random_state=4, verbose=0, warm_start=False)

In [216]:
model = clf.fit(X_train,y_train)
y_predict = model.predict(X_test)
print(accuracy_score(y_test, y_predict))

0.852017937219731

In [231]:
warnings.filterwarnings('ignore')
parameters = {
    'base_score': [0.5],
    'booster': ['gbtree'],
    'colsample_bylevel': [1],
    'colsample_bytree': [1],
    'gamma':[0,1,2,3],
    'learning_rate' : [0.1,0.01,0.001,0.5,0.05],
    'max_delta_step' : [0],
    'max_depth' : [3,5,7,4,9,10],
    'min_child_weight' : [1],
    'n_estimators' : [100,200,500,600],
    'n_jobs':[-1],  
    'nthread':[None],
    'objective':['binary:logistic'],
    'random_state':[0],
    'reg_alpha':[0],
    'reg_lambda':[1],
    'scale_pos_weight': [1],
    'seed':[None],
    'silent':[True],
    'subsample':[1]}

acc_scorer = make_scorer(accuracy_score)
clf = xgb.XGBClassifier()
grid_obj = GridSearchCV(clf, parameters, scoring=acc_scorer,verbose=1)
grid_obj = grid_obj.fit(X_train, y_train)
clf = grid_obj.best_estimator_
print(clf)
clf.fit(X_train, y_train)

predictions = clf.predict(X_test)
print(accuracy_score(y_test, predictions))

Fitting 3 folds for each of 480 candidates, totalling 1440 fits

[Parallel(n_jobs=1)]: Done 1440 out of 1440 | elapsed:  5.5min finished

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)
0.8295964125560538

In [232]:
clf = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)
model = clf.fit(X_train,y_train)
y_predict = model.predict(X_test)
accuracy_score(y_test,y_predict)

0.8295964125560538

In [185]:
clf = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=9, n_jobs=-1,
            oob_score=False, random_state=4, verbose=0, warm_start=False)
model = clf.fit(X_train,y_train)
y_predict = model.predict(X_test)
accuracy_score(y_test,y_predict)

C:\Softwares\Anaconda3-5.1.0-Windows-x86_64\Installation\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  import sys

0.8340807174887892

In [166]:
output = pd.DataFrame(index=None)
output["PassengerId"] = dfTest["PassengerId"]
print(output.shape)
output.head()

(418, 1)

   PassengerId
0          892
1          893
2          894
3          895
4          896

In [167]:
Survived_predict = model.predict(test_input)
Survived_predict.shape

(418,)

In [168]:
Survived_predict = pd.DataFrame(Survived_predict,columns = ["Survived"])
print(Survived_predict.shape)
Survived_predict["Survived"].head()

(418, 1)

0    0
1    0
2    0
3    0
4    1
Name: Survived, dtype: int64

In [169]:
output["Survived"] = Survived_predict["Survived"]
output.shape

(418, 2)

In [174]:
output=output.set_index('PassengerId')
output.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1

In [177]:
output.to_csv('result.csv',sep=',',)